<footer>
    <div class="container py-4 py-lg-5">
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col-12 col-md-3">
                <div class="fw-bold d-flex align-items-center mb-2"><span>Mu URL</span></div>
                <p class="text-muted">URL acortadas, simples y gratis!.</p>
            </div>
            <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                <h3 class="fs-6 fw-bold">Servicios</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Planes</a></li>
                    <li><a href="#">Desarrolladores</a></li>
                    <li><a href="#">Documentacion</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0"> 2024 MU URL</p>
        </div>
    </div>
</footer>